.box-border {
  position: absolute;
  height: 3px;
  width: 3px;
}

.box-border-left-top {
  top: 0;
  left: 0;
  border-left: 2px solid darkslateblue;
  border-top: 2px solid darkslateblue;
}

.box-border-left-bottom {
  left: 0;
  bottom: 0;
  border-left: 2px solid darkslateblue;
  border-bottom: 2px solid darkslateblue;
}

.box-border-right-top {
  right: 0;
  top: 0;
  border-top: 2px solid darkslateblue;
  border-right: 2px solid darkslateblue;
}

.box-border-right-bottom {
  right: 0;
  bottom: 0;
  border-bottom: 2px solid darkslateblue;
  border-right: 2px solid darkslateblue;
}

.box-text {
  padding: 0 4px;
  line-height: 20px;
}

.boxHeader{
  height: 20px;
  border: 1px solid darkslateblue;
  position: relative;
}

.end-line {
  width: 100%;
  height: 4px;
  background-image: linear-gradient(darkslateblue, dodgerblue);
  margin-top: 10px;
}

.lb-box {
  height: 30px;
  font-size: 8px;
  margin: 0px 25%;
  text-align: center;
  width: 50%;
  margin-top: -5px;
  position: relative;
  border-bottom: 1px solid darkslateblue;
  border-top: 1px solid darkslateblue;
}

.right-border {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  left: -30px;
  border-bottom: 1px solid darkslateblue;
}

.right-border::before{
  content:"";
  position:absolute;
  left:-6px;
  bottom:15px;
  width:43px;
  height:0px;
  box-sizing:border-box;
  border-bottom:1px solid darkslateblue;
  /*transform-origin:bottom center;*/
  transform:rotate(135deg);

}

.left-border {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 0;
  right: -30px;
  border-bottom: 1px solid darkslateblue;
}

.left-border::before{
  content:"";
  position:absolute;
  right:-6px;
  bottom:15px;
  width:43px;
  height:0px;
  box-sizing:border-box;
  border-bottom:1px solid darkslateblue;
  /*transform-origin:bottom center;*/
  transform:rotate(45deg);
}

.point-box {
  height: 17px;
  width: 100%;
  display: flex;
}

.point-text {
  height: 10px;
  margin-top: 2px;
  line-height: 10px;
}

.point {
  height: 7px;
  width: 7px;
  margin: auto;
  border-radius: 100%;
  background-color: rgba(255,255,255,0.3);
}

.point-choose {
  height: 8px;
  width: 8px;
  margin: auto;
  border-radius: 100%;
  background-color: white;
}

